<!DOCTYPE html>
<html>
  <%- include("partials/head") %>
  <body>
    <%- include("partials/header") %>
    <h1><%= title %></h1>
    <ul>
      <% captured.forEach((pokemon) => { %>
      <a href="/pokedex/captured/<%= pokemon._id %>"
        ><li><%= pokemon.pokemon.name %></li></a
      >
      <% }) %>
    </ul>
    <a href="/pokedex/captured/create">Create a new captured pokemon</a>
  </body>
</html>
