<!DOCTYPE html>
<html>
  <%- include("partials/head") %>
  <body>
    <%- include("partials/header") %>
    <div class="content detail">
      <h1><%= title %></h1>
      <p><Strong>Name: </Strong><%= pokemon.pokemon.name %></p>
      <p><Strong>Nickname: </Strong><%= pokemon.nickName || "N/A" %></p>
      <p><Strong>Level when captured: </Strong><%= pokemon.capturedLevel %></p>
      <p>
        <Strong>Date captured: </Strong><%= formatDate(pokemon.dateCaptured) %>
      </p>
      <a href="/pokedex/pokemon/<%=pokemon.pokemon._id%>"
        ><button class="to-pokemon" type="submit">Pokemon Detail</button></a
      >
      <form action="/pokedex/captured/<%= pokemon._id %>/delete" method="POST">
        <button class="list" type="submit">Delete Pokemon</button>
      </form>
      <form action="/pokedex/captured/<%= pokemon._id %>/update" method="GET">
        <button class="add" type="submit">Update Pokemon</button>
      </form>
    </div>
  </body>
</html>
