<!DOCTYPE html>
<html>
  <%- include("partials/head") %>
  <body>
    <%- include("partials/header") %>
    <div class="content">
      <h1><%= title %></h1>
      <div>
        <p><strong>Number of Pokemon: </strong><%= totalPokemon %></p>
        <a href="/pokedex/pokemon/">
          <button class="list" type="button">Pokemon list</button>
        </a>
        <a href="/pokedex/pokemon/create">
          <button class="add" type="button">Add Pokemon</button>
        </a>
      </div>
      <div>
        <p><strong>Number of captured Pokemon: </strong><%= totalCaptured %></p>
        <a href="/pokedex/captured/">
          <button class="list" type="button">Captured list</button>
        </a>
        <a href="/pokedex/captured/create">
          <button class="add" type="button">Add Captured Pokemon</button>
        </a>
      </div>
      <div>
        <p><strong>Number of known types: </strong><%= totalTypes %></p>
        <a href="/pokedex/types/">
          <button class="list" type="button">Type list</button>
        </a>
        <a href="/pokedex/types/create">
          <button class="add" type="button">Add Type</button>
        </a>
      </div>
    </div>
  </body>
</html>
