<!DOCTYPE html>
<html>
  <%- include("partials/head") %>
  <body>
    <%- include("partials/header") %>
    <div class="content">
      <h1><%= title %></h1>
      <% pokemons.forEach(function(pokemon) { %>
      <a class="poke-list" href="/pokedex/pokemon/<%= pokemon.id %>">
        <%= pokemon.name %>
      </a>
      <% }) %>
      <a href="/pokedex/pokemon/create">
        <button class="add" type="button">Add Pokemon</button>
      </a>
    </div>
  </body>
</html>
