<!DOCTYPE html>
<html>
  <%- include("partials/head") %>
  <body>
    <%- include("partials/header") %>
    <div class="content">
    <h1><%= title %></h1>
    <!-- Exclude action to send data to same URL as page -->
    <form method="POST">
      <div class="form-group">
        <div>
          <label for="name"
            >Pokemon Name:
            <input
              id="name"
              class="form-control"
              type="text"
              placeholder="Pikachu, Charmander etc."
              name="name"
              required
              value="<%= locals.name %>"
          /></label>
        </div>
        <div class="description">
          <label for="description"
            >Pokemon Description:
            <textarea
              id="description"
              type="text"
              name="description"
              required
            >
<%= locals.description %></textarea
            >
          </label>
        </div>
        <div>
          <label for="rarity">Pokemon Rarity:
            <select id="rarity" name="rarity" required>
              <% rarityOptions.forEach(function (option) { %>
                <option value="<%= option %>" <%= locals.rarity === option ? 'selected' : '' %>><%= option %></option>
              <% }); %>
            </select>
          </label>
        </div>
        <div>
          <label for="type"
            >Pokemon Type:
            <input
              id="type"
              class="form-control"
              type="text"
              placeholder="Fire, Water etc."
              name="type"
              required
              value="<%= locals.type %>"
          /></label>
        </div>
      </div>
      <button class="add" type="submit">Submit</button>
    </form>

    <% if (locals.errors) { %>
    <ul class="error">
      <% locals.errors.forEach(function(error) { %>
      <li><%= error.msg %></li>
      <% }); %>
    </ul>
    <% } %>
  </div>
  </body>
</html>
