<!DOCTYPE html>
<html>
  <%- include("partials/head") %>
  <body>
    <%- include("partials/header") %>
    <h1><%= title %></h1>
    <ul>
      <% pokemons.forEach(function(pokemon) { %>
      <a href="/pokedex/pokemon/<%= pokemon.id %>">
        <li><%= pokemon.name %></li>
      </a>
      <% }) %>
    </ul>
    <a href="/pokedex/pokemon/create">Create a new Pokemon</a>
  </body>
</html>
