<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p><Strong>Name: </Strong><%= pokemon.name %></p>
    <p><Strong>Description: </Strong><%= pokemon.description %></p>
    <p><Strong>Rarity: </Strong><%= pokemon.rarity %></p>
    <p>
      <Strong>Type: </Strong><% pokemon.type.forEach(function(type) { %> <%=
      type.type %><% if (pokemon.type.indexOf(type) !== pokemon.type.length - 1)
      { %>, <% } %> <% }) %>
    </p>
    <a href="/pokedex/pokemon/update">Update Pokemon</a>
    <a href="/pokedex/types/Delete">Delete Pokemon</a>
  </body>
</html>
