<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p><Strong>Name: </Strong><%= pokemon.name %></p>
    <p><Strong>Description: </Strong><%= pokemon.description %></p>
    <p><Strong>Rarity: </Strong><%= pokemon.rarity %></p>
    <p>
      <Strong>Type: </Strong><% pokemon.type.forEach(function(type) { %> <%=
      type.type %><% if (pokemon.type.indexOf(type) !== pokemon.type.length - 1)
      { %>, <% } %> <% }) %>
    </p>
    <form action="/pokedex/pokemon/<%= pokemon._id %>/delete" method="POST">
      <button type="submit">Delete Pokemon</button>
    </form>
    <form action="/pokedex/pokemon/<%= pokemon._id %>/update" method="GET">
      <button type="submit">Update Pokemon</button>
    </form>
  </body>
</html>
